html,
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
}

.top-bar {
    height: 50px;
    background-color: #ededed;
    border-bottom: 1px solid black;
}

.container {
    display: flex;
    width: 100vw;
    /*max-width: 1200px;*/
    /*min-width: 600px;*/
    height: 100vh;
}

.canvas {
    flex-grow: 1;
    /*width: 80vw;
    height: 100vh;*/
    background-color: #ededed;
}

.tools-sidebar, .properties-sidebar {
    background-color: #f5f5f5;
    padding: 20px;
    flex-shrink: 0;
}

.tools-sidebar {
    width: calc(15vw + 100px);
    min-width: 200px;
    max-width: 350px;
    border-right: 1px solid black;
}

.properties-sidebar {
    width: calc(15vw + 100px);
    min-width: 200px;
    max-width: 350px;
    border-left: 1px solid black;
}

.bg-gray-300 {
    background-color: lightgray;
}

.bg-blue-400 {
    background-color: lightblue;
}