html,
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #000;
    font-weight: 400;
    /*font-size: 13px;*/
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.top-bar {
    height: 50px;
    /*background-color: #ededed;*/
    background-color: #f0f4f9;
    /*border-bottom: 1px solid black;*/
    align-content: center;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.top-bar :nth-child {
    margin-left: 20px;
}

.top-bar > .name, .edit-button, .play-button {
    /*appearance: none;*/
    margin-left: 20px;
}

.play-button, .edit-button {
    cursor: pointer;
}

.container {
    display: flex;
    width: 100vw;
    /*max-width: 1200px;*/
    min-width: 600px;
    height: calc(100vh - 50px);
}

.canvas {
    flex-grow: 1;
    /*width: 80vw;
    height: 100vh;*/
    background-color: #f9fbfd;
}

.tools-sidebar, .properties-sidebar {
    /*background-color: #f5f5f5;*/
    /*background-color: #f9fbfd;*/
    background-color: white;
    /*width: calc(10vw + 100px);*/
    padding: 20px;
    flex-shrink: 0;
}

.tools-sidebar {
    width: calc(5vw + 100px);
    min-width: 150px;
    max-width: 300px;
    /*border-right: 1px solid black;*/
}

.properties-sidebar {
    width: calc(10vw + 100px);
    min-width: 200px;
    max-width: 350px;
    /*border-left: 1px solid black;*/
}

.bg-gray {
    cursor: pointer;
    background-color: lightgray;
}

.bg-blue {
    cursor: pointer;
    background-color: lightblue;
}